.gallery-item img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.custom-paragraph {
    color: #2a9d8f; 
    font-size: 1.1rem;
    font-style: bold; 
    line-height: 1.6; 
}